.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.text-hover-primary:hover {
  color: var(--primary-color);
}

.text-signature {
  font-family: 'Motherland';
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color)
}

.text-glow-2 {
  text-shadow: 0px 0px 8.1px rgba(255, 70, 75, 0.23);
}

.text-glow-1 {
  text-shadow: 1px 0px 4.3px rgba(239, 36, 36, 0.55);
}

.bg-through {
  background: linear-gradient(0deg, rgba(210, 6, 6, 0.35) 0%, rgba(210, 6, 6, 0.35) 100%), url(<path-to-image>) lightgray -3.837px -65.251px / 101.445% 209.431% no-repeat;
}

.text-form {
  color: var(--form-color);
}

.bg-form {
  background-color: var(--form-color);
}

.bg-form:hover {
  background-color: #fa5997;
}

.bg-form-back {
  background-color: #fa5997;

}

.text-form-glow {
  text-shadow: 0px 0px 11px rgba(245, 76, 141, 0.55);
}